<!-- Category list -->

{% assign sort_categories = site.categories | sort %}

{% if sort_categories.size > 0 %}
  <div id="access-tags">
    <!--<div class="panel-heading">{{- site.data.locales[include.lang].tabs.categories -}}</div>-->
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
      {% for category in sort_categories %}
        {% assign url = category | first | slugify | url_encode | prepend: '/categories/' | append: '/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}">{{ category }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}