/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

$topbanner-height: 8rem !default;
$topbanner-width: 260px !default;
$sidebar-top: 12rem !default;