---
layout: page
# All the Categories of posts
---

{% include lang.html %}

<div id="categories" class="d-flex flex-wrap mx-xl-2">
  {% assign categories = '' | split: '' %}
  {% for category in site.categories %}
    {% assign categories = categories | push: category[0] %}
  {% endfor %}

  {% assign sorted_categories = categories | sort_natural %}

  {% for category in sorted_categories %}
    <div>
      <a class="tag" href="{{ category | slugify | url_encode | prepend: '/category/' | append: '/' | relative_url }}">
        {{ category -}}
        <span class="text-muted">{{ site.categories[category].size }}</span>
      </a>
    </div>
  {% endfor %}
</div>